.col{
  padding-top: 40px;
}
input {
  background: yellow;
  border: 1px solid #ffffff;
  padding: .8em .7em;
  height: 46px;
  border-radius: 20px;
  outline: none !important;
  font-size: 14px;
  color: #fff;
}
.btn{
  border-radius: 0 20px 20px 0;
  height: 46px;
}
input::placeholder{
  color: #ffffff;
}
